<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Tech Conference{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href="/app.css">
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/flowers">See All Teams</a></li>
    <li role="presentation"><a href="/flowers/new">Add a New Team</a></li>
</ul>
<div class="container">



    <div class="page-header">



        <h1><b><u>WELCOME TO YOUR TECH CONFERENCE!</u></b>
            <br>
            <img src="../images/500.gif">
            <br>
            <small>Start building your team!</small></h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>



{{#block "footer"}}
    </body>
    </html>
{{/block}}