{{#block "header"}}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{#block "title"}}Flowers{{/block}}</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel='stylesheet' href="/app.css">
    </head>
    <body>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="/flowers/new">Build a Bouquet</a></li>
        <li role="presentation"><a href="/">See All Arrangements</a></li>
    </ul>
    <div class="container">
        <div class="page-header">
            <h1>Welcome to Kira's Flower Shop!</h1>
        </div>
        <img src="/">
        <hr noshade>


        <div class="col-md-12">
            {{#block "content"}}
            {{/block}}

        </div>
    </div>
    </body>
    </html>
{{/block}}